.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: blueviolet;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: lightcoral;
  padding: 10px 20px;
  border-radius: 100rem;
  /* width: 100%; */
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
}
