@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: Helvetica, sans-serif;
  background-image: linear-gradient(to right, #ffe259, #ffa751);
}

h1 {
  margin-bottom: 1rem;
}

input {
  outline: none;
}

.todo-item:not(:last-child) {
  margin-bottom: 2px;
}

.todo-list-container::-webkit-scrollbar {
  width: 0;
  transition: all 1s ease;
  /* height: 10px; */
}

.todo-list-container:hover::-webkit-scrollbar {
  width: 5px;
  /* height: 10px; */
}

.todo-list-container::-webkit-scrollbar-thumb {
  background: #d62828; /* Color of the scrollbar thumb */
  border-radius: 10px;
}
